fullnameOverride: "groupsmanager"

groups-frontend:
  image:
    replicaCount: 1
    repository: ghcr.io/htaic/portlet-group-manager
    pullPolicy: Always
    containerPort: 3006
    tag: "latest"
    hostname: groupsmanager
    domainPath: "groups"
  sidecarimage:
    name: "logging-sidecar"
    repository: ghcr.io/htaic/platform-logging-service
    pullPolicy: Always
    tag: "latest"
  imagePullSecrets:
    - name: dockerconfigjson-github-com
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 250m
      memory: 750Mi
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80

groups-backend:
  image:
    replicaCount: 1
    repository: ghcr.io/htaic/portlet-groupservice
    pullPolicy: Always
    containerPort: 4003
    tag: "latest"
    domainPath: "groupservice"
    hostname: portlet-groupservice
    livenessProbe: "api/v1/livez"
    readinessProbe: "api/v1/readyz"
    env:
    - name: LOGSINK
      value: STDOUT
    - name: NODE_ENV
      value: "development"
  sidecarimage:
    name: "logging-sidecar"
    repository: ghcr.io/htaic/platform-logging-service
    pullPolicy: Always
    tag: "latest"
  imagePullSecrets:
    - name: dockerconfigjson-github-com
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 250m
      memory: 750Mi
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80