edgeId: {{ INSERT EDGE ID }}
awsIotDataEndpoint: {{ INSERT IOT ENDPOINT }}

scs:
  scs:
    externalIps: {{ INSERT DEVICE IP }}

redis:
  redis:
    replicaCount: 1
    repository: redis
    password: redis-default-password
    tag: latest
    pullPolicy: Always
    containerPort: 6379
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 250m
      memory: 750Mi
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80

postgresql:
  postgres:
    user: postgres
    password: postgrespassword
    db: postgres
    replicaCount: 1
    repository: postgres
    tag: 14
    pullPolicy: Always
    containerPort: 5432
    env:
      # https://hub.docker.com/_/postgres
      - name: PGDATA
        value: /var/lib/postgresql/data/edge
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 250m
      memory: 750Mi
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80