namespace: "hanwha"

postgres:
  replicaCount: 1
  repository: postgres
  tag: 14
  pullPolicy: Always
  containerPort: 5432
  env:
    - name: POSTGRES_PASSWORD
      value: postgrespassword

service:
  type: ClusterIP

resources:
  requests:
    cpu: 250m
    memory: 750Mi

serviceAccount:
  create: true
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80