postgres:
  user: postgres
  password: postgrespassword
  db: postgres
  replicaCount: 1
  repository: postgres
  tag: 14
  pullPolicy: Always
  containerPort: 5432
  env:
    # https://hub.docker.com/_/postgres
    - name: PGDATA
      value: /var/lib/postgresql/data/{name of your database}

# # Optional (should be passed in from parent chart)
# storage:
#   className: efs-storageclass
#   provisioner: efs.csi.aws.com
#   capacity: 20Gi
#   volumeMode: Filesystem
#   csi:
#     volumeHandle: fs-{your file system id}
#     volumeAttributes:
#       encryptInTransit: "true"
#   # If you want to persist storage, use the volume path
#   volumeMountPath: /var/lib/postgresql/data
#   # If you want to run cron backups to the volume, use these settings
#   backupCron: true
#   scriptPath: https://raw.githubusercontent.com/htaic/helm-charts/faux-auth-backup-restore-cron/charts/postgresql/dumpdb.sh
#   # If you want disable the volume creation, use these settings
#   disableCreate: true
#   claimName: "baseline-postgresql-claim"

# # Optional (should be passed in from parent chart... if you want to run a startup script, enter it here)
# startUp:
#   scriptContent: |
#       echo "I am a little tea pot" > /data/echotxt
#   fileContent: |
#       SELECT 'CREATE DATABASE ory '
#       'WITH '
#       'ENCODING = ''UTF8'' '
#       'CONNECTION LIMIT = -1 '
#       'IS_TEMPLATE = False'

service:
  type: ClusterIP

resources:
  requests:
    cpu: 250m
    memory: 750Mi

serviceAccount:
  create: false
  annotations: {}
  name: ""
  
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80