namespace: "hanwha"
fullnameOverride: gql-devicemanager

image:
  replicaCount: 1
  repository: ghcr.io/htaic/gql-devicemanager
  pullPolicy: Always
  containerPort: 3003
  tag: "latest"
  hostname: gql-devicemanager
  domainPath: "graphql"
  noStripPath: true
  env:
    - name: ENVVARIABLENAME
      value: VALUE

##########################
# Caution updating below #
##########################
sidecarimage:
  name: "logging-sidecar"
  repository: ghcr.io/htaic/platform-logging-service
  pullPolicy: Always
  tag: "latest"

imagePullSecrets:
  - name: dockerconfigjson-github-com

service:
  type: ClusterIP

resources:
  requests:
    cpu: 250m
    memory: 750Mi

serviceAccount:
  create: true
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
