fullnameOverride: "organizationmanager"
image:
  replicaCount: 1
  repository: ghcr.io/htaic/portlet-org-manager
  pullPolicy: Always
  containerPort: 3004
  tag: "latest"
  hostname: organizationmanager
  domainPath: "organization"
sidecarimage:
  name: "logging-sidecar"
  repository: ghcr.io/htaic/platform-logging-service
  pullPolicy: Always
  tag: "latest"
imagePullSecrets:
  - name: dockerconfigjson-github-com
service:
  type: ClusterIP
resources:
  requests:
    cpu: 250m
    memory: 750Mi
serviceAccount:
  create: false
  annotations: {}
  name: ""
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
organization-creation:
  image:
    replicaCount: 1
    repository: ghcr.io/htaic/portlet-orgservice-orchestrator
    pullPolicy: Always
    containerPort: 4001
    tag: "latest"
    domainPath: "orgcreate"
    hostname: portlet-orgservice-orchestrator
    livenessProbe: "api/v1/livez"
    readinessProbe: "api/v1/readyz"
    env:
    - name: LOGSINK
      value: ELKSTACK
    - name: NODE_ENV
      value: "development"
  sidecarimage:
    name: "logging-sidecar"
    repository: ghcr.io/htaic/platform-logging-service
    pullPolicy: Always
    tag: "latest"
  imagePullSecrets:
    - name: dockerconfigjson-github-com
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 250m
      memory: 750Mi
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80  
organization-backend:
  image:
    replicaCount: 1
    repository: ghcr.io/htaic/portlet-orgservice
    pullPolicy: Always
    containerPort: 4000
    tag: "latest"
    domainPath: "orgservice"
    hostname: portlet-orgservice
    livenessProbe: "api/v1/livez"
    readinessProbe: "api/v1/readyz"
    env:
    - name: LOGSINK
      value: ELKSTACK
    - name: NODE_ENV
      value: "development"
  sidecarimage:
    name: "logging-sidecar"
    repository: ghcr.io/htaic/platform-logging-service
    pullPolicy: Always
    tag: "latest"
  imagePullSecrets:
    - name: dockerconfigjson-github-com
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 250m
      memory: 750Mi
  serviceAccount:
    create: false
    annotations: {}
    name: ""
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80